<!DOCTYPE html>
<html>
  <head>
    <title>Smash Bros</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdn.orangecss.com/1.3.0/css/orange.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
    <nav class="nav">
      <ul>
        <li>
          <%= link_to "Home", home_path %>
        </li>
        <li>
          <%= link_to "Matches", matches_path %>
        </li>
        <li>
          <%= link_to "Post a match", new_match_path %>
      </ul>
    </nav>
</header>
  <body>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
